<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= locals.title? title:'GarySystem' %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/easyui.css">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css" >
    <link rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css" />

    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-md-row fixed-top">
            <a class="navbar-brand" href="/">
                <img src="/images/img01.png" width="30" height="30" class="d-inline-block align-top" alt="">
                GarySystem
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                <% for(let i in locals.menu1) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown<%=i%>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= locals.menu1[i].MENU_NM%>
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown<%=i%>">
                        <% for (let j in locals.menu2) { %>
                            <% if (locals.menu1[i].MENU_ID == locals.menu2[j].MID) { %>
                            <a class="dropdown-item" href="/<%=locals.menu2[j].URI%>"><%=locals.menu2[j].MENU_NM%></a>
                        <% }} %>
                        </div>
                    </li>
                <% } %>
                </ul>
            </div>
            <div class="form-inline">
                <% if(locals.isLogin) { %>
                    <a class="nav-link" href="/logout"><%=locals.loginUser? locals.loginUser:'' %>您好(登出)</a>
                <% } else { %>
                    <a class="nav-link" href="/login">登入</a>
                <% } %>
            </div>
        </nav>
    </header>
	