<%- include('parts/header') %>	
	<main>
        <div class="container-fluid">
            <h1 class="text-light text-center">Wellcome GarySystem</h1>
        </div>
    </main>
    
	<!-- script -->
<%- include('parts/script') %>	
    <script>
	    
    </script>
<%- include('parts/footer') %>	
