<%- include('parts/header') %>	
	<main>
            <form class="container" method="GET">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="comm" class="text-light">Name1：</label>
                            <input type="checkbox" name="name1[]" value="a">a
                            <input type="checkbox" name="name1[]" value="b">b
                            <input type="checkbox" name="name1[]" value="c">c
                        </div>
                    </div>
                    <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="comm" class="text-light">Name2：</label>
                                <input type="checkbox" name="name2[]" value="a">a
                                <input type="checkbox" name="name2[]" value="b">b
                                <input type="checkbox" name="name2[]" value="c">c
                            </div>
                        </div>
                        <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="comm" class="text-light">Name3：</label>
                                    <input type="checkbox" name="name3[]" value="a">a
                                    <input type="checkbox" name="name3[]" value="b">b
                                    <input type="checkbox" name="name3[]" value="c">c
                                </div>
                            </div>

                            <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <label for="comm" class="text-light">TEXT</label>
                                        <input type="text" id="txt1" value="">
                                        <input type="text" id="txt2" value="">
                                    </div>
                                </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <input type="submit" class="btn btn-primary" id="btn1" value="查詢">
                        </div>
                    </div>
            </form>
    </main>
    
	<!-- script -->
<%- include('parts/script') %>	
    <script>
	    $('#txt1').keyup(() => {
            $('#txt2').val($('#txt1').val());
        });
    </script>
<%- include('parts/footer') %>	
