<%- include('../parts/header') %>	
	<main>
            <div class="container-fluid">
        
                    <form class="container">
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="commNm" class="text-light">商品名稱：</label>
                                    <input class="form-control" type="text" id="commNm" />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="vendor" class="text-light">進貨廠商：</label>
                                    <select class="form-control" id="vendor" name="vendor">
                                        
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                        <label for="status" class="text-light">狀態：</label>
                                        <select class="form-control" id="status" name="status">
                                            
                                        </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <input type="button" class="btn btn-primary" id="btn1" value="查詢">
                                </div>
                            </div>
                    </form>
                </div>
                
                <div class="container-fluid">
                    
                    <form class="container">
                      
                            <div class="form-row">
                                <table id="userList"></table>
                                <div id="userListPager"></div>
                            </div>
                        
                    </form>
                    
                </div>
            
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="setData" tabindex="-1" role="dialog" aria-labelledby="setDataTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="setDataTitle">新增商品資料</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
        
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="iCommNm">商品名稱：</label>
                                    <input class="form-control" type="text" id="iCommNm" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="iVendor">廠商：</label>
                                    <select class="form-control" id="iVendor" name="iVendor">
                                        
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="iUnit">單位</label>
                                    <input class="form-control" type="text" id="iUnit" />
                                </div>
                            </div>
        
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                          <button type="button" class="btn btn-primary" id="sendInsert">送出</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade bd-example-modal-lg" id="upData" tabindex="-1" role="dialog" aria-labelledby="setDataTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="upDataTitle">修改商品資料</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="hidden" id="uCommId" />
                            <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label for="uCommNm">商品名稱：</label>
                                        <input class="form-control" type="text" id="uCommNm" readonly/>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="uVendor">廠商：</label>
                                        <select class="form-control" id="uVendor" name="uVendor">
                                            
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="uUnit">單位</label>
                                        <input class="form-control" type="text" id="uUnit" />
                                    </div>
                                </div>
            
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                          <button type="button" class="btn btn-primary" id="sendUpdata">送出</button>
                        </div>
                    </div>
                </div>
            </div>
    </main>
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
        loadTable();
        loadVentorList();
        loadSelectBox($("#status"), 1, true);
        $(function () {
            $('.timepicker').datetimepicker({
                format: 'YYYY/MM/DD'
            });
        });
        
        //註冊事件 
        
		$('#btn1').click(function(){
            loadTable();
        });
        
		$('#sendInsert').click(function(){
			if(! $("#iCommNm").val()){
				alert('商品名稱不得為空');
				return;
			}
			if(! $("#iVendor").val()){
				alert('廠商不得為空');
				return;
			}
            if(! $("#iUnit").val()){
				alert('單位不得為空');
				return;
            }
			
			$.ajax({
		    	url: "/f01/setCommData",
		    	data:{
		    		commNm : $("#iCommNm").val(), 
		    		vendor : $("#iVendor").val(),
                    unit : $("#iUnit").val()
		    	},
		    	method: "POST",
		    	success: function (data) {
                    alert(data.message);
                    if(data.code == 200) {
                        $('#setData').modal('hide');
                        $("#userList").datagrid('reload');
                    }
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('新增異常，請洽系統管理員');
		        }
	    	});
        });
        
        $('#sendUpdata').click(function(){
			if(! $("#uVendor").val()){
				alert('廠商不得為空');
				return;
			}
			if(! $("#uUnit").val()){
				alert('單位不得為空');
				return;
            }
			
			$.ajax({
		    	url: "/f01/upCommData",
		    	data:{
                    commId : $("#uCommId").val(), 
		    		commNm : $("#uCommNm").val(), 
		    		vendor : $("#uVendor").val(),
                    unit : $("#uUnit").val()
		    	},
		    	method: "POST",
		    	success: function (data) {
                    alert(data.message);
                    if(data.code == 200) {
                        $('#upData').modal('hide');
                        $("#userList").datagrid('reload');
                    }
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('更新異常，請洽系統管理員');
		        }
	    	});
        });

        function loadTable() {
            $("#userList").datagrid({
                url:'/f01/getCommList',
                title:'商品列表',
                iconCls: "fas fa-cash-register",
                rownumbers: true, 
                pagination: true,
                singleSelect:true,
                height: 453,
                width: '100%',
                queryParams: {
                    commNm: $('#commNm').val(),
                    vendor: $('#vendor').val(),
                    status: $('#status').val()
                },
                sortName: 'COMM_ID',
                sortOrder: 'ASC',
                frozenColumns:[[
                    {field:'COMM_NM', title:'商品名稱', width:'20%',sortable:true}
                ]],
                columns:[[
                    {field:'UNIT', title:'單位', width:'20%',sortable:true},
                    {field:'VEN_NM', title:'廠商', width:'40%',sortable:true},
                    {field:'ST_NM', title:'狀態', width:'20%', styler:(val, row, index) => { if (row.STATUS == '02') { return 'color: red;';} }}
                ]],
                toolbar: [{
                    iconCls: 'icon-add',
                    text: '新增資料',
                    handler: function(){
                        $('#setData').modal('show');
                    }
                },{
                    iconCls: 'icon-edit',
                    text: '修改資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要修改的資料');
                            return;
                        }
                        let data = $("#userList").datagrid('getSelected');
                        console.log(data);
                        $('#uCommId').val(data['COMM_ID']);
                        $('#uCommNm').val(data['COMM_NM']);
                        $('#uUnit').val(data['UNIT']);
                        $('#uVendor').val(data['VEN_ID']);
                        
                        $('#upData').modal('show');
                    }
                },{
                    iconCls: 'far fa-calendar-times text-danger',
                    text: '停用資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要停用的資料');
                            return;
                        }
                        let id = $("#userList").datagrid('getSelected').COMM_ID;
                        changeVendorType('02', id, '是否停用此筆資料');
                    }
                },{
                    iconCls: 'far fa-calendar-plus text-primary',
                    text: '啟用資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要啟用的資料');
                            return;
                        }
                        let id = $("#userList").datagrid('getSelected').COMM_ID;
                        changeVendorType('01', id, '是否啟用此筆資料');
                    }
                }]
            });
        }
        
        function changeVendorType(type, id, msg){
            if (confirm(msg)){
                $.ajax({
                    url: "/f01/upCommData",
                    data:{
                        commId : id, 
                        status : type 
                    },
                    method: "POST",
                    success: function (data) {
                        alert(data.message);
                        $("#userList").datagrid('reload');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('更新異常，請洽系統管理員');
                    }
                });
            }
            
        }

        function loadSelectBox(selectBox, ctId, all) {
            $.ajax({
		    	url: "/loadSelectBox",
		    	data:{
                    ctId : ctId
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    if (all) {
                        htmlCode += `<option value=""></option>`;
                    }
                    for(let i in data) {
                        htmlCode += `<option value="${data[i].CD_ID}">${data[i].CD_NM}</option>`;
                    }
                    selectBox.html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }

        function loadVentorList() {
            $.ajax({
		    	url: "/f01/getVendorData",
		    	data:{
                    status : '01'
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    htmlCode += `<option value=""></option>`;
                    
                    for(let i in data) {
                        htmlCode += `<option value="${data[i].VEN_ID}">${data[i].VEN_NM}</option>`;
                    }
                    $('#vendor').html(htmlCode);
                    $('#iVendor').html(htmlCode);
                    $('#uVendor').html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }
    </script>
<%- include('../parts/footer') %>	
