<%- include('../parts/header') %>	
	<main>
            <div class="container-fluid">
        
                    <form class="container">
                            <div class="form-row">
                                    <div class="col-md-3">
                                        <label for="commNm" class="text-light">進貨起日：</label>
                                        <div class="form-group">
                                            <div class="input-group date timepicker" id="datetimepicker1" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="dateS" name="dateS"/>
                                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="vendor" class="text-light">進貨迄日：</label>
                                        <div class="form-group">
                                                <div class="input-group date timepicker" id="datetimepicker2" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" id="dateE" name="dateE"/>
                                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                     </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="comm" class="text-light">商品名稱：</label>
                                    <select class="form-control" id="comm" name="comm">
                                        
                                    </select>
                                </div>
                                <!-- <div class="col-md-3 mb-3">
                                    <label for="vendor" class="text-light">進貨廠商：</label>
                                    <select class="form-control" id="vendor" name="vendor">
                                        
                                    </select>
                                </div> -->
                                <div class="col-md-3 mb-3">
                                        <label for="status" class="text-light">狀態：</label>
                                        <select class="form-control" id="status" name="status">
                                            
                                        </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <input type="button" class="btn btn-primary" id="btn1" value="查詢">
                                </div>
                            </div>
                    </form>
                </div>
                
                <div class="container-fluid">
                    
                    <form class="container">
                      
                            <div class="form-row">
                                <table id="userList"></table>
                                <div id="userListPager"></div>
                            </div>
                        
                    </form>
                    
                </div>
            
            <!-- Modal -->
            <form method="POST" id="form2" name="form2" action="/f01/puritem">
                <input type="hidden" id="fPurId" name="fPurId">
                <input type="hidden" id="ftype" name="ftype">
                <input type="hidden" id="fInit" name="fInit">
            </form>
    </main>
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
        loadTable();
        loadVentorList();
        loadCommList();
        loadSelectBox($("#status"), 1, true);
        $(function () {
            $('.timepicker').datetimepicker({
                format: 'YYYY/MM/DD'
            });
        });
        
        //註冊事件 
        
		$('#btn1').click(function(){
            loadTable();
            
        });
		
        $('#form2').submit(function() {
            window.open('', 'formpopup', 'width=800,height=640,resizeable,left=100,top=50');
            this.target = 'formpopup';
        });

        function loadTable() {
            $("#userList").datagrid({
                url:'/f01/getPurchaseList',
                title:'進貨單',
                iconCls: "fas fa-box",
                rownumbers: true, 
                pagination: true,
                singleSelect:true,
                height: 453,
                width: '100%',
                queryParams: {
                    comm: $('#comm').val(),
                    vendor: $('#vendor').val(),
                    status: $('#status').val(),
                    dateS: $('#dateS').val(),
                    dateE: $('#dateE').val()
                },
                sortName: 'PUR_ID',
                sortOrder: 'ASC',
                frozenColumns:[[
                    {field:'PUR', title:'進貨單號', width:'20%',sortable:true}
                ]],
                columns:[[
                    {field:'INIT_DT', title:'進貨日期', width:'10%',sortable:true},
                    {field:'CASH', title:'進貨總金額', width:'10%'},
                    {field:'ST_NM', title:'狀態', width:'10%', styler:(val, row, index) => { if (row.STATUS == '02') { return 'color: red;';} }}
                ]],
                onDblClickRow: (rowIndex, rowData) => {
                    $('#ftype').val('SELECT'); 
                    $('#fPurId').val($("#userList").datagrid('getSelected').PUR_ID);
                    $('#fInit').val($("#userList").datagrid('getSelected').INIT_DT);
                    $('#form2').submit();
                },
                toolbar: [
                {
                    iconCls: 'icon-search',
                    text: '詳細資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要查詢的資料');
                            return;
                        }
                        $('#ftype').val('SELECT'); 
                        $('#fPurId').val($("#userList").datagrid('getSelected').PUR_ID);
                        $('#fInit').val($("#userList").datagrid('getSelected').INIT_DT);
                        $('#form2').submit();
                    }
                },{
                    iconCls: 'icon-add',
                    text: '新增資料',
                    handler: function(){
                       $('#ftype').val('INSERT'); 
                       $('#form2').submit();
                    }
                },{
                    iconCls: 'far fa-calendar-times text-danger',
                    text: '停用資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要停用的資料');
                            return;
                        }
                        let id = $("#userList").datagrid('getSelected').PUR_ID;
                        checkDelPur('02', id, '是否停用此筆資料');
                    }
                },{
                    iconCls: 'far fa-calendar-plus text-primary',
                    text: '啟用資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要啟用的資料');
                            return;
                        }
                        let id = $("#userList").datagrid('getSelected').PUR_ID;
                        changeType('01', id, '是否啟用此筆資料');
                    }
                }]
            });
        }
        
        function changeType(type, id, msg){
            if (confirm(msg)){
                $.ajax({
                    url: "/f01/upPurchaseData",
                    data:{
                        purId : id, 
                        status : type 
                    },
                    method: "POST",
                    success: function (data) {
                        alert(data.message);
                        $("#userList").datagrid('reload');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('更新異常，請洽系統管理員');
                    }
                });
            }
            
        }

        function loadSelectBox(selectBox, ctId, all) {
            $.ajax({
		    	url: "/loadSelectBox",
		    	data:{
                    ctId : ctId
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    if (all) {
                        htmlCode += `<option value=""></option>`;
                    }
                    for(let i in data) {
                        htmlCode += `<option value="${data[i].CD_ID}">${data[i].CD_NM}</option>`;
                    }
                    selectBox.html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }

        function loadVentorList() {
            $.ajax({
		    	url: "/f01/getVendorData",
		    	data:{
                    status : '01'
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    htmlCode += `<option value=""></option>`;
                    
                    for(let i in data) {
                        htmlCode += `<option value="${data[i].VEN_ID}">${data[i].VEN_NM}</option>`;
                    }
                    $('#vendor').html(htmlCode);
                    $('#iVendor').html(htmlCode);
                    $('#uVendor').html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }

        function loadCommList() {
            $.ajax({
		    	url: "/f01/getCommData",
		    	data:{
                    status : '01'
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    htmlCode += `<option value=""></option>`;
                    commList = data;
                    for(let i in data) {
                        htmlCode += `<option value="${data[i].COMM_ID}">${data[i].COMM_NM}</option>`;
                    }
                    $('#comm').html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }

        function checkDelPur(type, id, msg) {
            $.ajax({
		    	url: "/f01/checkDelPur",
		    	data:{
                    purId : id
		    	},
		    	method: "POST",
		    	success: function (data) {
                    console.log(JSON.stringify(data));
                    if(data.code == "200"){
                        changeType(type, id, msg)
                    } else {
                        alert(data.message);
                    }
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }
    </script>
<%- include('../parts/footer') %>	
