<%- include('../parts/childheader') %>	
	<main>
            <div class="container-fluid">
        
                    <form class="container">
                            <div class="form-row">
                                    <div class="col-md-4">
                                        <label for="dateS" class="text-light">銷貨日：</label>
                                        <div class="form-group">
                                            <div class="input-group date timepicker" id="datetimepicker1" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="dateS" name="dateS"/>
                                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                    <div class="col-md-12">
                                        <label for="remark" class="text-light">備註：</label>
                                        <input class="form-control" type="text" id="remark" name="remark"/>
                                    </div>
                                </div>
                            <hr>
                            <div class="form-row insrow">
                                <div class="col-md-3 mb-3">
                                    <label for="comm" class="text-light">商品名稱：</label>
                                    <select class="form-control" id="comm" name="comm">
                                        
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="vendor" class="text-light">進貨廠商：</label>
                                    <input class="form-control" type="text" id="vendor" readonly />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="unit" class="text-light">單位：</label>
                                    <input class="form-control" type="text" id="unit" readonly />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="amounts" class="text-light">庫存數量：</label>
                                    <input class="form-control" type="text" id="amounts" readonly />
                                </div>
                            </div>
                            <div class="form-row insrow">
                                <div class="col-md-3 mb-3">
                                    <label for="price" class="text-light">銷貨單價：</label>
                                    <input class="form-control" type="number" id="price" />
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="amount" class="text-light">銷貨數量：</label>
                                    <input class="form-control" type="number" id="amount" />
                                </div>
                                    
                            </div>
                            <div class="form-row insrow">
                                <div class="col-md-4 mb-3">
                                    <input type="button" class="btn btn-primary" id="btn1" value="新增至進貨單">
                                </div>
                            </div>
                    </form>
                </div>
                
                <div class="container-fluid">
                    
                    <form class="container">
                      
                            <div class="form-row">
                                <table id="userList"></table>
                                <div id="userListPager"></div>
                            </div>
                        
                    </form>
                    
                </div>
            
    </main>
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
        var commList;
        loadTable();
        loadCommList();
        $('.timepicker').datetimepicker({
            format: 'YYYY/MM/DD'
        });
        let type = '<%= locals.type ? type : "SELECT"%>';
        if (type == 'SELECT') {
            $('.insrow').hide();
            $('#dateS').attr('disabled', true);
            $('#dateS').val("<%= locals.init ? init : '' %>");
            $("#userList").datagrid({
                url:'getSalItemList',
                pagination: true,
                queryParams: {
                    salId: '<%= locals.salId ? salId : "" %>'
                },
                sortName: 'SAL_ID',
                sortOrder: 'ASC',
                toolbar: []
            });
        }
        if (type == 'INSERT') {

        }
        
        //註冊事件 
        
		$('#btn1').click(function(){
            let i = $('#comm').val();
            let commId = commList[i] ? commList[i].COMM_ID : '';
            let comm = commList[i] ? commList[i].COMM_NM : '';
            let vendor = $('#vendor').val();
            let unit = $('#unit').val();
            let price = $('#price').val();
            let amount = $('#amount').val();
            let amounts = $('#amounts').val();
            let msg = "";
            
            let datas =  $("#userList").datagrid('getRows');
            for(let i in datas) {
                if(datas[i].COMM_ID == commId) amounts -= datas[i].AMOUNT;
            }

            if(!comm){ msg += "請選擇商品\n"; }
            if(!/^\d+$/.test(price)) msg += "進貨單價請輸入正整數\n"; 
            if(!/^\d+$/.test(amount)) msg += "進貨數量請輸入正整數\n"; 
            if(Number(amount) > Number(amounts)) msg += "庫存數量不足以銷貨\n";
            
            if(msg) { 
                alert(msg);
                return;  
            }

            console.log(commId);
            $("#userList").datagrid('appendRow',{
                COMM_ID: commId,
                COMM_NM: comm,
                VEN_NM: vendor,
                UNIT: unit,
                PRICE: price,
                AMOUNT: amount,
            });

            $('#comm').val('');
            $('#vendor').val('');
            $('#unit').val('');
            $('#amounts').val('')
            $('#price').val('');
            $('#amount').val('');
        });

        $('#comm').change(() => {
            let i = $('#comm').val();
            let commId = commList[i] ? commList[i].COMM_ID : '';
            $('#vendor').val(commList[i] ? commList[i].VEN_NM : '');
            $('#unit').val(commList[i] ? commList[i].UNIT: '');

            $.ajax({
		    	url: "/f01/getCommStock",
		    	data:{
                    commId : commId
		    	},
		    	method: "POST",
		    	success: function (result) {
                    $('#amounts').val(result[0].AMOUNTS);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});

        });
        
        function loadTable() {
            $("#userList").datagrid({
                url:'#',
                title:'進貨單',
                iconCls: "fas fa-box-open",
                rownumbers: true, 
                singleSelect:true,
                height: 453,
                width: '100%',
                columns:[[
                    {field:'COMM_NM', title:'商品名稱', width:'20%'},
                    {field:'VEN_NM', title:'進貨廠商', width:'20%'},
                    {field:'UNIT', title:'進貨單位', width:'10%'},
                    {field:'PRICE', title:'銷貨單價', width:'20%'},
                    {field:'AMOUNT', title:'銷貨數量', width:'10%'}
                ]],
                toolbar: [{
                    iconCls: 'far fa-calendar-times text-danger',
                    text: '刪除資料',
                    handler: function(){
                        let row = $("#userList").datagrid('getSelected');
                        let index = $("#userList").datagrid("getRowIndex", row);
                        $("#userList").datagrid('deleteRow', index);
                    }
                },{
                    iconCls: 'far fa-calendar-plus text-primary',
                    text: '送出進貨單',
                    handler: function(){
                        if (!$("#dateS").val()) {
                            alert('請輸入銷貨日');
                            return;
                        }

                        datas =  $("#userList").datagrid('getRows');
                        if (datas.length == 0) {
                            alert('請至少輸入一筆進貨資料');
                            return;
                        }

                        let result = {};
                        result.data = datas;
                        result.initDt = $("#dateS").val();
                        result.remark = $("#remark").val();

                        setSales(JSON.stringify(result));
                        
                    }
                }]
            });
        }
        
        function setSales(data) {
            $.ajax({
		    	url: "/f01/setSales",
		    	data:{
                    datas : data
		    	},
		    	method: "POST",
		    	success: function (result) {
                    if(result.code == '200') {
                        alert(result.message);
                        window.opener.loadTable();
                        window.close();
                    } else {
                        alert(result.message);
                    }
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }

        function loadCommList() {
            $.ajax({
		    	url: "/f01/getCommData",
		    	data:{
                    status : '01'
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    htmlCode += `<option value=""></option>`;
                    commList = data;
                    for(let i in data) {
                        htmlCode += `<option value="${i}">${data[i].COMM_NM}</option>`;
                    }
                    $('#comm').html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }

        
        
    </script>
<%- include('../parts/footer') %>	
