<%- include('../parts/header') %>	
	<main>
            <div class="container-fluid">
        
                    <form class="container">
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="comm" class="text-light">商品名稱：</label>
                                    <input type="hidden" class="form-control" value="<%= locals.commId ? commId : '' %>" id="commId">
                                    <input type="text" class="form-control" value="<%= locals.commNm ? commNm : '' %>">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="comm" class="text-light">廠商名稱：</label>
                                    <input type="text" class="form-control" value="<%= locals.venNm ? venNm : '' %>">
                                </div>
                            </div>
                    </form>
                </div>
                
                <div class="container-fluid">
                    
                    <form class="container">
                      
                            <div class="form-row">
                                <table id="userList"></table>
                                <div id="userListPager"></div>
                            </div>
                        
                    </form>
                    
                </div>
    </main>
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
        loadTable();
        loadCommList();
        $(function () {
            $('.timepicker').datetimepicker({
                format: 'YYYY/MM/DD'
            });
        });
        
        //註冊事件 
        
		$('#btn1').click(function(){
            loadTable();
        });

        function loadTable() {
            $("#userList").datagrid({
                url:'/f01/getStockItem',
                title:'進/銷貨清單',
                iconCls: "fas fa-box-open",
                rownumbers: true, 
                pagination: true,
                singleSelect:true,
                height: 453,
                width: '100%',
                queryParams: {
                    comm: $('#commId').val()
                },
                sortName: 'INIT_DT',
                sortOrder: 'ASC',
                frozenColumns:[[
                    {field:'STOCK', title:'進/銷貨單號', width:'20%',sortable:true}
                ]],
                columns:[[
                    {field:'AMOUNT', title:'庫存變化', width:'10%'},
                    {field:'PRICE', title:'進/銷貨單價', width:'20%'},
                    {field:'INIT_DT', title:'進/銷貨日期', width:'20%'}
                ]],
                onDblClickRow: (rowIndex, rowData) => {
                }
            });
        }
        
        function loadCommList() {
            $.ajax({
		    	url: "/f01/getCommData",
		    	data:{
                    status : '01'
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    htmlCode += `<option value=""></option>`;
                    commList = data;
                    for(let i in data) {
                        htmlCode += `<option value="${data[i].COMM_ID}">${data[i].COMM_NM}</option>`;
                    }
                    $('#comm').html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }
    </script>
<%- include('../parts/footer') %>	
