<%- include('../parts/header') %>	
	<main>
            <div class="container-fluid">
        
                    <form class="container">
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="comm" class="text-light">商品名稱：</label>
                                    <select class="form-control" id="comm" name="comm" data-live-search="true">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <input type="button" class="btn btn-primary" id="btn1" value="查詢">
                                </div>
                            </div>
                    </form>
                </div>
                
                <div class="container-fluid">
                    
                    <form class="container">
                      
                            <div class="form-row">
                                <table id="userList"></table>
                                <div id="userListPager"></div>
                            </div>
                        
                    </form>
                    
                </div>
            <form method="POST" id="form2" name="form2" action="/f01/stockitem">
                <input type="hidden" id="commId" name="commId">
                <input type="hidden" id="commNm" name="commNm">
                <input type="hidden" id="venNm" name="venNm">
            </form>
    </main>
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
        loadTable();
        loadCommList();
        $(function () {
            $('.timepicker').datetimepicker({
                format: 'YYYY/MM/DD'
            });
        });
        
        //註冊事件 
        
		$('#btn1').click(function(){
            loadTable();
        });

        function loadTable() {
            $("#userList").datagrid({
                url:'/f01/getStockList',
                title:'銷貨單',
                iconCls: "fas fa-box-open",
                rownumbers: true, 
                pagination: true,
                singleSelect:true,
                height: 453,
                width: '100%',
                queryParams: {
                    comm: $('#comm').val()
                },
                sortName: 'COMM_NM',
                sortOrder: 'ASC',
                frozenColumns:[[
                    {field:'COMM_NM', title:'商品名稱', width:'20%',sortable:true}
                ]],
                columns:[[
                    {field:'VEN_NM', title:'進貨廠商', width:'10%',sortable:true},
                    {field:'PUR_CON', title:'總進貨數', width:'10%'},
                    {field:'PUR_SUM', title:'進貨總金額', width:'10%'},
                    {field:'SAL_CON', title:'總銷貨數', width:'10%'},
                    {field:'SAL_SUM', title:'銷貨總金額', width:'10%'},
                    {field:'STOCK', title:'剩餘庫存', width:'10%'}
                ]],
                onDblClickRow: (rowIndex, rowData) => {
                    $('#commId').val($("#userList").datagrid('getSelected').COMM_ID); 
                    $('#commNm').val($("#userList").datagrid('getSelected').COMM_NM);
                    $('#venNm').val($("#userList").datagrid('getSelected').VEN_NM);
                    $('#form2').submit();
                },
                toolbar: [
                {
                    iconCls: 'icon-search',
                    text: '商品進銷貨清單',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要查詢的商品');
                            return;
                        }
                        $('#commId').val($("#userList").datagrid('getSelected').COMM_ID); 
                        $('#commNm').val($("#userList").datagrid('getSelected').COMM_NM);
                        $('#venNm').val($("#userList").datagrid('getSelected').VEN_NM);
                        $('#form2').submit();
                        
                    }
                }]
            });
        }
        
        function loadCommList() {
            $.ajax({
		    	url: "/f01/getCommData",
		    	data:{
                    status : '01'
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    htmlCode += `<option value=""></option>`;
                    commList = data;
                    for(let i in data) {
                        htmlCode += `<option value="${data[i].COMM_ID}">${data[i].COMM_NM}</option>`;
                    }
                    $('#comm').html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }

        $('#form2').submit(function() {
            window.open('', 'formpopup', 'width=800,height=640,resizeable,left=100,top=50');
            this.target = 'formpopup';
        });
    </script>
<%- include('../parts/footer') %>	
