<%- include('../parts/header') %>	
	<main>
        <button type="button" id="btn1">btn1</button>
        <button type="button" id="btn2">btn2</button>
        <svg width="100%" height="400px" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid">
        </svg>   
    </main>
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
        var data = [
            ["Iceland",14.1],
            ["Egypt",30.4],
            ["Syria",27.6],
            ["Malaysia",17.5],
            ["Japan",8.3],
            ["USA",12.7],
            ["Taiwan",8.5],
            ["India",21.8],
            ["Germany",8.1]
        ];
        var sum = 0;
        for(var i = 0; i < data.length ; i++ ) {
            data[i].push(sum);
            sum += data[i][1];
        }

        var path = d3.select("svg").selectAll("path").data(data).enter().append("path");
        CreateD3Img();

        $('#btn1').click(() => {
            CreateD3Img();
            
        });

        $('#btn2').click(() => {
            CreateD3Img2();
            
        });

        function CreateD3Img() {
            path.attr("transform", "translate(0,0)");
            path.attr("d", function(d,i) {
                var x1 = 100, x2 = 100 + d[1] * 22;
                var y1 = i * 40, y2 = i * 40 + 30;
                console.log(`${d} : ${i}`);
                return (
                    "M" + x1 + " " + y1 +
                    "L" + x2 + " " + y1 +
                    "L" + x2 + " " + y2 +
                    "L" + x1 + " " + y2 + "Z"
                );
            });

            var color = d3.scaleOrdinal(d3.schemeCategory10);
            path.attr("fill", function(d,i) { return color(d[0]); });

        }

        function CreateD3Img2() {
            
            var arc = d3.arc().innerRadius(0).outerRadius(200);

            path.attr("transform", "translate(400,200)")
                .attr("d", function(d,i) {
                    console.log(`${d} : ${i}`);
                    return arc.startAngle(6.28 * d[2] / sum).endAngle(6.28 * (d[2] + d[1]) / sum)();
                });

            var color = d3.scaleOrdinal(d3.schemeCategory10);
            path.attr("fill", function(d,i) { return color(d[0]); });
            
        }

        
    </script>
<%- include('../parts/footer') %>	
