<%- include('../parts/header') %>	
	<main>
            <div class="container-fluid">
        
                    <form class="container">
                        
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="venNm" class="text-light">廠商名稱：</label>
                                    <input class="form-control" type="text" id="venNm" />
                                </div>
                                <div class="col-md-3 mb-3">
                                        <label for="status" class="text-light">狀態：</label>
                                        <select class="form-control" id="status" name="status">
                                            
                                        </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <input type="button" class="btn btn-primary" id="btn1" value="查詢">
                                </div>
                            </div>
                    </form>
                </div>
                
                <div class="container-fluid">
                    
                    <form class="container">
                      
                            <div class="form-row">
                                <table id="userList"></table>
                                <div id="userListPager"></div>
                            </div>
                        
                    </form>
                    
                </div>
            
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="setVendorData" tabindex="-1" role="dialog" aria-labelledby="setVendorDataTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="setVendorDataTitle">新增廠商資料</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
        
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="iVenNm">廠商名稱：</label>
                                    <input class="form-control" type="text" id="iVenNm" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="iTel">電話：</label>
                                    <input class="form-control" type="text" id="iTel" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 mb-6">
                                    <label for="iAddr">地址</label>
                                    <input class="form-control" type="text" id="iAddr" />
                                </div>
                            </div>
        
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                          <button type="button" class="btn btn-primary" id="sendInsert">送出</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade bd-example-modal-lg" id="upVendorData" tabindex="-1" role="dialog" aria-labelledby="setVendorDataTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="upVendorDataTitle">修改廠商資料</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="hidden" id="uVenId" />
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="uVenNm">廠商名稱：</label>
                                    <input class="form-control" type="text" id="uVenNm" readonly />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="uTel">電話：</label>
                                    <input class="form-control" type="text" id="uTel" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 mb-6">
                                    <label for="uAddr">地址</label>
                                    <input class="form-control" type="text" id="uAddr" />
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-8 mb-6">
                                    <label for="uStatus">狀態</label>
                                    <input class="form-control" type="text" id="uStatus" />
                                </div>
                            </div> -->
        
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                          <button type="button" class="btn btn-primary" id="sendUpdata">送出</button>
                        </div>
                    </div>
                </div>
            </div>
    </main>
	<!-- script -->
<%- include('../parts/script') %>	
    <script>
        loadTable();
        loadSelectBox($("#status"), 1, true);
        
        //註冊事件 
        
		$('#btn1').click(function(){
	    	
            loadTable();
        });
        
        function loadTable() {
            $("#userList").datagrid({
                url:'/f01/getVendorList',
                title:'廠商列表',
                iconCls: "fas fa-store-alt",
                rownumbers: true, 
                pagination: true,
                singleSelect:true,
                height: 453,
                width: '100%',
                queryParams: {
                    venNm: $('#venNm').val(),
                    status: $('#status').val()

                },
                sortName: 'VEN_ID',
                sortOrder: 'ASC',
                columns:[[
                    {field:'VEN_NM', title:'廠商名稱', width:'20%',sortable:true},
                    {field:'TEL', title:'電話', width:'20%'},
                    {field:'ADDR', title:'地址', width:'20%',sortable:true},
                    {field:'ST_NM', title:'狀態', width:'20%', styler:(val, row, index) => { if (row.STATUS == '02') { return 'color: red;';} }}
                ]],
                toolbar: [{
                    iconCls: 'icon-add',
                    text: '新增資料',
                    handler: function(){
                        $('#setVendorData').modal('show');
                    }
                },{
                    iconCls: 'icon-edit',
                    text: '修改資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要修改的資料');
                            return;
                        }
                        let data = $("#userList").datagrid('getSelected');
                        $('#uVenId').val(data['VEN_ID']);
                        $('#uVenNm').val(data['VEN_NM']);
                        $('#uTel').val(data['TEL']);
                        $('#uAddr').val(data['ADDR']);
                        $('#upVendorData').modal('show');
                    }
                },{
                    iconCls: 'far fa-calendar-times text-danger',
                    text: '停用資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要停用的資料');
                            return;
                        }
                        let id = $("#userList").datagrid('getSelected').VEN_ID;
                        changeVendorType('02', id, '是否停用此筆資料');
                    }
                },{
                    iconCls: 'far fa-calendar-plus text-primary',
                    text: '啟用資料',
                    handler: function(){
                        if ($("#userList").datagrid('getSelections').length < 1) {
                            alert('請選擇要啟用的資料');
                            return;
                        }
                        let id = $("#userList").datagrid('getSelected').VEN_ID;
                        changeVendorType('01', id, '是否啟用此筆資料');
                    }
                }]
            });
        }
		
		$('#sendInsert').click(function(){
            let msg = '';
			if (! $("#iVenNm").val()) msg += '姓名不得為空\n'; 
			if (! $("#iTel").val()) msg += '電話不得為空\n';
			if (! $("#iAddr").val()) msg += '地址不得為空\n'; 
            if ($("#iVenNm").length > 100) msg += '姓名不得超過100字\n'; 
            if ($("#iTel").length > 100) msg += '電話不得超過100字\n'; 
            if ($("#iAddr").length > 500) msg += '地址不得超過500字\n'; 
            if (msg) {
                alert(msg);
                return;
            }
			
			$.ajax({
		    	url: "/f01/setVendorData",
		    	data:{
		    		venNm : $("#iVenNm").val(), 
		    		tel : $("#iTel").val(),
		    		addr : $("#iAddr").val()
		    	},
		    	method: "POST",
		    	success: function (data) {
                    alert(data.message);
                    if(data.code == 200) {
                        $('#setVendorData').modal('hide');
                        $("#userList").datagrid('reload');
                    }
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('新增異常，請洽系統管理員');
		        }
	    	});
        });
        
        $('#sendUpdata').click(function(){
			if (! $("#uTel").val()) msg += '電話不得為空\n';
			if (! $("#uAddr").val()) msg += '地址不得為空\n'; 
            if ($("#uTel").length > 100) msg += '電話不得超過100字\n'; 
            if ($("#uAddr").length > 500) msg += '地址不得超過500字\n'; 
            if (msg) {
                alert(msg);
                return;
            }
			
			$.ajax({
		    	url: "/f01/upVenderData",
		    	data:{
		    		venId : $("#uVenId").val(), 
		    		tel : $("#uTel").val(),
		    		addr : $("#uAddr").val()
		    	},
		    	method: "POST",
		    	success: function (data) {
                    alert(data.message);
                    if(data.code == 200) {
                        $('#upVendorData').modal('hide');
                        $("#userList").datagrid('reload');
                    }
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('更新異常，請洽系統管理員');
		        }
	    	});
        });
        
        function changeVendorType(type, id, msg){
            if (confirm(msg)) {
                $.ajax({
                    url: "/f01/upVendorData",
                    data:{
                        venId : id, 
                        status : type 
                    },
                    method: "POST",
                    success: function (data) {
                        alert(data.message);
                        $("#userList").datagrid('reload');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('更新異常，請洽系統管理員');
                    }
                });
            }
        }

        function loadSelectBox(selectBox, ctId, all) {
            $.ajax({
		    	url: "/loadSelectBox",
		    	data:{
                    ctId : ctId
		    	},
		    	method: "POST",
		    	success: function (data) {
                    var htmlCode = "";
                    if (all) {
                        htmlCode += `<option value=""></option>`;
                    }
                    for(let i in data) {
                        htmlCode += `<option value="${data[i].CD_ID}">${data[i].CD_NM}</option>`;
                    }
                    selectBox.html(htmlCode);
		    	},
		    	error: function (jqXHR, textStatus, errorThrown) {
		    		alert('系統異常，請洽系統管理員');
		        }
	    	});
        }
    </script>
<%- include('../parts/footer') %>	
