<%- include('../parts/header') %>	
    <style>
        #rect {
            position: relative;
            width: 800px;
            height: 600px;
            background-color: #b3fffd;
        }
        .ball{
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: #ff4d44;
            color: white;
            border-radius: 50%;
            left: 100px;
            top: 50px;
            text-align: center;
            line-height: 60px;
        }
    </style>
<main>
    <div id="rect">
        <div class="ball" draggable="true">11</div>
    </div>
</main>

<!-- script -->
<%- include('../parts/script') %>
    <script>
        var rect = $('#rect');
        var ball = $('.ball');
        var wallLeft = 800;
        var walltop = 600;
        var type = 1;           // 移動象限
        var lspeed = 0;         // 初始x軸移動速度
        var tspeed = 0;         // 初始Y軸移動速度
        var aspeed = 10;        // 初始移動速度
        var speed = 3000;       // 總移動動量
        var runspeed = speed;   // 當前移動動量
        var walldown = 100;      // 牆壁減少動量
        var s = 0;              // 事件編號
    
        function ballmove(){
            let le = Number(ball.css('left').split('px')[0]);
            let to = Number(ball.css('top').split('px')[0]);
            runspeed--;
            var lper = lspeed - (lspeed * (speed - runspeed) / speed);
            var tper = tspeed - (tspeed * (speed - runspeed) / speed);
            
            
            if ((le <= 0 && type == 4) || (to <= 0 && type == 2)) {
                runspeed -= walldown;
                type = 1;
            }
            if ((le >= 740 && type == 2) || (to >= 540 && type == 4)) {
                runspeed -= walldown;
                type = 3;
            }
            if ((le <= 0 && type == 3) || (to >= 540 && type == 1)) {
                runspeed -= walldown;
                type = 2;
            }
            
            if ((to <= 0 && type == 3) || (le >= 740 && type == 1)) {
                runspeed -= walldown;
                type = 4;
            }
    
            if(type == 1) {
                ball.css('left', le + lper);
                ball.css('top', to + tper);
            }
            if(type == 2) {
                ball.css('left', le + lper);
                ball.css('top', to - tper);
            }
            if(type == 3) {
                ball.css('left', le - lper);
                ball.css('top', to - tper);
            }
            if(type == 4) {
                ball.css('left', le - lper);
                ball.css('top', to + tper);
            }
            if(runspeed <= 0) {
                console.log("stop");
                clearInterval(s);
            }
        }
    
        
        
        
        ball.on("dragend", function(event){
            let le = Number(ball.css('left').split('px')[0]) + 30;
            let to = Number(ball.css('top').split('px')[0]) + 30;
            let x = event.clientX;
            let y = event.clientY;
            let dragle = x - le;
            let dragto = y - to;
            lspeed = Math.abs(dragle) > Math.abs(dragto)? Math.abs(dragle/dragle) * aspeed : Math.abs(dragle/dragto) * aspeed;         // 初始x軸移動速度
            tspeed = Math.abs(dragle) > Math.abs(dragto)? Math.abs(dragto/dragle) * aspeed : Math.abs(dragto/dragto) * aspeed;         // 初始Y軸移動速度
            runspeed = speed;
    
            if (dragle >= 0 && dragto >= 0) type = 3;
            if (dragle >= 0 && dragto <= 0) type = 4;
            if (dragle <= 0 && dragto >= 0) type = 2;
            if (dragle <= 0 && dragto <= 0) type = 1;
            s = setInterval(ballmove, 1);
    
            console.log("left : " + le + "  ,top:" + to);
            console.log("x : " + x + "  ,y:" + y);
            console.log("dragle : " + dragle + "  ,dragto:" + dragto);
            console.log("lspeed : " + lspeed + "  ,tspeed:" + tspeed);
            console.log("type : " + type);
            console.log("--------------------------------------------------------------");
        })
    
    </script>	
<%- include('../parts/footer') %>
